<!doctype html>
<html lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width'>
  {% if pagination.pageNumber > 0 %}
  <title>{{ title }} × [Page {{ pagination.pageNumber }}]</title>
  <meta name='description' content="{{ desc }} × [Page {{ pagination.pageNumber }}]">
  {% else %}
  <title>{{ title }}</title>
  <meta name='description' content="{{ desc }}">
  {% endif %}
  <meta name="author" content="{{ site.author }}">

  <!--Open Graph-->
  {% if pagination.pageNumber > 0 %}
  <meta property="og:title" content="{{ title }} × [Page {{ pagination.pageNumber }}]">
  <meta property="og:description" content="{{ desc }} × [Page {{ pagination.pageNumber }}]">
  <meta property="og:image" content="">

  {% else %}
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ desc }}">
  <meta property="og:image" content="">
  {% endif %}
  <meta property="og:site_name" content="">
  <meta property="og:url" content="{{ site.url }}{{ page.url | url }}">
  <meta property="og:type" content="object">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">

  <!--links-->
  <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
  {% include "_partials/fonts.liquid" %}
  {% include "_partials/favicons.liquid" %}
  <link rel="me" href="{{ site.mastodon }}">

  <!--styles-->
  <link href="/assets/styles/tailwind.css" rel="stylesheet" />
  <link href="/assets/styles/prism.min.css" rel="stylesheet" />

</head>

<body class="bg-stone-50 text-stone-950 dark:text-alt-main dark:bg-alt-dark">
  {% include "_partials/nav-journal.liquid" %}
  <main class="">

    {{ content }}

  </main>

  <footer class="mt-4">
    <div class="mx-auto  pb-10">

      <!---->
      <div class="flex flex-wrap content-center">
        <div
          class="flex items-center link-novisited no-underline hover:text-social-mastodon dark:hover:text-social-mastodon mr-6">
          <i class="lab la-mastodon text-2xl"></i>
          <a rel="me" href="{{ site.mastodon }}" class="link-novisited">Mastodon</a>
        </div>

        <div
          class="flex items-center link-novisited no-underline hover:text-social-linkedin dark:hover:text-social-linkedin mr-6">
          <i class="lab la-linkedin text-2xl no-underline"></i>
          <a href="{{ site.linkedin }}" class="link-novisited">LinkedIn</a>
        </div>

        <div
          class="flex items-center link-novisited no-underline hover:text-social-instagram dark:hover:text-social-instagram mr-6">
          <i class="lab la-instagram text-2xl no-underline"></i>
          <a href="{{ site.steam }}" class="link-novisited">Instagram</a>
        </div>

        <div
          class="flex items-center link-novisited no-underline hover:text-social-youtube dark:hover:text-social-youtube mr-6">
          <i class="lab la-youtube text-2xl no-underline"></i>
          <a href="{{ site.youtube }}" class="link-novisited">YouTube</a>
        </div>

        <div
          class="flex items-center link-novisited no-underline hover:text-social-telegram dark:hover:text-social-telegram mr-6">
          <i class="lab la-telegram text-2xl no-underline">
            <a href="{{ site.telegram }}" class="link-novisited"></i>Telegram</a>
        </div>

        <div
          class="flex items-center sm:grow link-novisited no-underline hover:text-social-epicgames dark:hover:text-social-steam-dark mr-6">
          <i class="lab la-steam text-2xl no-underline"></i>
          <a href="{{ site.steam }}" class="link-novisited">Стим</a>
        </div>
        <div class="flex items-center link-novisited no-underline hover:text-mk-background">
          <a href="/donation">
            <button class="outline outline-offset-2 outline-1 rounded">
              <div class="px-1 flex items-center">
                <i class="text-2xl las la-piggy-bank"></i></div>
            </button></a>
        </div>
      </div>

      <p class="text-sm py-2">
        <!--Adding Site Author & Copyright-->
        <span class="space-out-bottom-mili-xs">© {{ site.author }} × </span>
        <!--Add Date and Copyright-->
        <span>2017 — {% year %}</span> </p>
    </div>
  </footer>

  <script>
    const isDarkMode = () => {
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      const storedTheme = localStorage.getItem("theme");

      // Если в локальном хранилище уже есть значение, используйте его
      if (storedTheme) {
        return storedTheme === "dark";
      }

      // Иначе используйте prefers-color-scheme
      return prefersDark;
    };

    const toggleTheme = () => {
      const isDark = isDarkMode();
      document.documentElement.classList.toggle("dark", isDark);
      localStorage.theme = isDark ? "light" : "dark";
    };

    // Установите начальную тему
    toggleTheme();

    // Сохранение состояния для theme в localStorage
    window.addEventListener("beforeunload", () => {
      localStorage.theme = document.documentElement.classList.contains("dark")
        ? "dark"
        : "light";
    });

    // Добавьте обработчик события click к кнопке переключения темы
    const button = document.getElementById("toggle-theme");
    button.addEventListener("click", toggleTheme);
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const drawer = document.getElementById("header-drawer");
      const button = document.getElementById("header-drawer-button");

      const toggleDrawer = () => {
        drawer.classList.toggle("translate-x-96");
      };

      button.addEventListener("click", toggleDrawer);

      // Сохранение состояния для drawer в localStorage
      document
        .getElementById("header-drawer")
        .addEventListener("transitionend", () => {
          localStorage.drawerCollapsed = document
            .getElementById("header-drawer")
            .classList.contains("translate-x-96");
        });
    });
  </script>
  <script src="/assets/scripts/prism.js"></script>
</body>

</html>